.u-section-1 .u-sheet-1 {
  min-height: 779px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 81px 530px 0 21px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  line-height: 1.4;
  margin: 21px auto 60px 88px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 351px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 131px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}