.u-section-1 .u-sheet-1 {
  min-height: 388px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: -16px 53px 0 878px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 12px 295px 0 0;
}

.u-section-1 .u-group-1 {
  width: 275px;
  background-image: none;
  min-height: 196px;
  margin: -112px 20px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 20px;
}

.u-section-1 .u-btn-1 {
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  margin: 0 auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 731px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-right: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 511px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 331px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 131px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 737px;
}

.u-section-2 .u-text-1 {
  margin: 51px 14px 0 0;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 228px;
  height: auto;
  margin: 20px auto 60px 26px;
}

.u-section-2 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.58;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0 -4px 0 34px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: -195px 533px 0 -4px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 19px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 518px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 418px;
  }
}